.accordion-button:not(.collapsed)::after {
  background-image: url($imageurl + "/min.svg") !important;
  transform-origin: center top;
  transform: translate(0px, 11px) rotate(180deg);
}
.accordion-button::after {
  background-image: url($imageurl + "/plus.svg") !important;
}
.customFaq {
  .accordion {
    &-item {
      background: transparent;
    }
    &-button {
      padding-left: 0;
      padding-right: 0;
      background: transparent;
      color: color(200);
      font-family: font(sb);
      font-size: 20px;
      border: none;
      box-shadow: none;
      ::after {
        background-image: url($imageurl + "/plus.svg") !important;
      }
      :not(.collapsed) {
        ::after {
          background-image: url($imageurl + "/min.svg") !important;
        }
      }
    }
    &-body {
      padding: 0rem 0rem 1rem 0rem;
      p {
        color: color(300);
        font-size: 18px;
        line-height: 36px;
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    .accordion {
      &-button {
        font-size: 16px;
      }
      &-body {
        padding: 0rem 0rem 1rem 0rem;
        p {
          color: color(300);
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    .accordion {
      &-button {
        font-size: 14px;
        &::after {
          height: 1rem;
          width: 1rem;
          background-size: contain;
        }
      }
    }
  }
}
