html {
  height: 100%;
}
body {
  font-size: 16px;
  line-height: 22px;
  font-family: font(rg);
  background: color(900);
  color: color(50);
  // min-height: 100%;
  position: relative;
  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}
.ant-form-item {
  color: inherit;
}
a,
.btn {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    @include transition(all 0.4s);
  }
}
