//Tools
@import "tools/_tools.mixin.scss";

//Settings
@import "settings/settings.main";

//generic
@import "generic/generic.scroll";

//Element
@import "elements/elements.html";

//Object
@import "objects/objects.html";

//Component
@import "components/components.main";

//Utilities
@import "utilities/utilities.main";

//Pages
// @import "pages/auth";
@import "pages/home";
@import "pages/about";
@import "pages/privacy-policy";
@import "pages/faq";
@import "pages/get-early-access.scss";
