.home {
  .bannerSection {
    // background-image: url($imageurl + "/home_banner.jpg");
    // justify-content: center;
    // background-size: cover;
    // background-position: top center;
    min-height: 100vh;
    &-BannerImg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }

    &-text-1 {
      color: color(410);
      font-family: font(srg);
      font-size: 150px;
      margin-bottom: -60px;
      text-transform: unset;
    }
    &-text-2 {
      color: color(500);
      font-family: font(lt);
      font-size: 95px;
      font-weight: 400;
      text-transform: uppercase;
    }
    &-divider {
      background-color: color(500);
      width: 127px;
      height: 2px;
      border-radius: 2px;

      margin: 50px auto;
    }
    p {
      font-size: 20px;
      color: color(400);
      line-height: 24px;
    }

    .customInputGroup {
      width: 500px;
      position: relative;
      &:after {
        content: "";
        height: 1px;
        width: 0%;
        background: color(500);
        display: block;
        position: absolute;
        top: 54px;
        left: 0;
        // transition: all 0.5s;
      }
      // &:hover:after {
      //   width: 100%;
      // }
      &-icon {
        position: absolute;
        left: 0;
      }
      &-input {
        background-color: transparent;
        border-width: 0px;
        color: color(50);
        font-size: 18px;
        width: 100%;
        padding-left: 35px;
        padding-right: 180px;
        border-bottom: 1px solid color(330);
        height: 55px;
        transition: all 0.5s;
        &:focus {
          border-bottom: 1px solid color(500);
        }
      }
      &-button {
        border: 1px solid color(500);
        padding: 0 20px;
        height: 35px;
        border-radius: 8px;
        position: absolute;
        right: 0;
      }
      &-text {
        font-size: 13px;
        color: color(50);
        display: inline-block;
        margin-right: 10px;
      }

      @include media-breakpoint-down(xxl) {
        &-input {
          font-size: 16px;
        }
      }
      @include media-breakpoint-down(md) {
        &-input {
          font-size: 14px;
        }
      }
    }
    .watchVideo {
      font-size: 18px;
      color: color(50);

      margin-top: 50px;
      &-icon {
        display: inline-block;
      }
      &-text {
        display: inline-block;
        margin-right: 20px;
      }
    }

    @include media-breakpoint-down(xxl) {
      &-text-1 {
        font-size: 75px;
        margin-bottom: -34px;
      }
      &-text-2 {
        font-size: 50px;
      }
      &-divider {
        background-color: color(500);
        margin: 20px auto 30px auto;
      }
      p {
        font-size: 16px;
        color: color(400);
        line-height: 24px;
      }
      .container {
        max-width: 650px;
      }
    }
    @include media-breakpoint-down(lg) {
      &-text-1 {
        font-size: 60px;
        margin-bottom: -20px;
      }
      &-text-2 {
        font-size: 40px;
      }
      &-divider {
        background-color: color(500);
        margin-top: 20px;
        margin-bottom: 30px;
      }
      p {
        font-size: 14px;
        color: color(400);
        line-height: 24px;
      }

      .customInputGroup {
        margin: 0 auto;
        width: 100%;
        position: relative;
        &-icon {
          position: absolute;
          left: 0;
        }
        &-input {
          background-color: transparent;
          border-width: 0px;
          color: color(50);
          width: 100%;
          padding-left: 30px;
          padding-right: 140px;
          border-bottom: 1px solid color(330);
          height: 55px;
        }
        &-button {
          padding: 0 5px;
          span {
            img {
              display: none;
            }
          }
        }
      }
      .watchVideo {
        font-size: 16px;
      }
      .container {
        max-width: 450px;
      }
    }

    @include media-breakpoint-down(md) {
      &-text-1 {
        font-size: 45px;
        margin-bottom: -20px;
      }
      &-text-2 {
        font-size: 25px;
      }

      min-height: auto;
      padding: 30px 15px;
    }
  }
  .beauty {
    position: relative;
    &::after {
      content: "";
      display: block;
      height: 352px;
      width: 251px;
      background-image: url($imageurl + "/pattern.png");
      position: absolute;
      background-size: contain;
      right: 0;
      bottom: -70px;
      z-index: 1;
      pointer-events: none;
    }
    @include media-breakpoint-down(xl) {
      &::after {
        height: 180px;
        width: 130px;
      }
    }
    @include media-breakpoint-down(lg) {
      min-height: auto;
    }
    @include media-breakpoint-down(sm) {
      &::after {
        display: none;
      }
    }
  }

  .makeup {
    background-image: url($imageurl + "/eternal-beauty-for-everyone.jpg");
    min-height: 100vh;
    // z-index: -1;
    @include media-breakpoint-down(xxl) {
      min-height: auto;
    }
  }

  .download {
    padding-bottom: 0;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 70px;
      width: 100%;
      background: rgb(0, 0, 0);
      background: -moz-linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      background: -webkit-linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    }
    min-height: 100vh;
    .store-btn {
      margin-top: 30px;
      &-play-store {
        display: inline-block;
      }
      &-app-store {
        margin-right: 30px;
        display: inline-block;
      }
    }
    .mobile-bg {
      margin-top: -75px;
      z-index: -1;
      position: relative;
    }
    @include media-breakpoint-down(xxl) {
      .mobile-bg {
        margin-top: 0px;
      }
      min-height: auto;
    }
    @include media-breakpoint-down(xl) {
      min-height: auto;
    }
    @include media-breakpoint-down(md) {
      .store-btn {
        margin-top: 30px;
        width: 400px;
        max-width: 100%;
        margin: 15px auto;
        &-play-store {
          flex-grow: 1;
          img {
            width: 100%;
          }
        }
        &-app-store {
          margin-right: 15px;
          flex-grow: 1;
          img {
            width: 100%;
          }
        }
      }

      min-height: auto;
      &::after {
        height: 180px;
        width: 130px;
      }
    }
  }
  .features {
    background: color(500);
    .specialitySection {
      text-align: center;
      &-details {
        color: color(900);
        margin-top: 40px;
        h5 {
          font-size: 20px;
          font-family: font(bd);
          margin-bottom: 18px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    @include media-breakpoint-down(xxl) {
      .specialitySection {
        &-details {
          margin-top: 25px;
          h5 {
            font-size: 14px;
            margin-bottom: 15px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
    @include media-breakpoint-down(xl) {
      .specialitySection {
        &-details {
          margin-top: 15px;
        }
      }
    }
    @include media-breakpoint-down(md) {
      min-height: auto;
    }
  }

  .contactUs {
    padding-left: 110px;
    padding-right: 110px;
    .greybox {
      background-color: color(850);

      position: relative;
      &::after {
        content: "";
        display: block;
        height: 352px;
        width: 251px;
        background-image: url($imageurl + "/pattern.png");
        background-size: contain;
        position: absolute;
        right: 0;
        top: 50px;
        pointer-events: none;
      }
    }
    @include media-breakpoint-down(xl) {
      .greybox {
        &::after {
          height: 180px;
          width: 130px;
        }
      }
    }
    @include media-breakpoint-down(xl) {
      padding-left: 50px;
      padding-right: 50px;
    }
    @include media-breakpoint-down(lg) {
      padding-left: 0px;
      padding-right: 0px;
      .container {
        padding: 15px;
        &::after {
          height: 180px;
          width: 130px;
        }
      }
    }
    @include media-breakpoint-down(sm) {
      > div {
        padding: 0;
      }

      .greybox {
        &::after {
          display: none;
        }
      }
    }
  }
}

.triangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
