body {
  overflow-x: hidden;
}
.container {
  @media (min-width: 1400px) {
    max-width: 1370px;
  }
  @include media-breakpoint-down(lg) {
    max-width: 100%;
  }
}
.topOffset {
  @include media-breakpoint-up(xxl) {
    padding-top: 142px;
  }
  @include media-breakpoint-down(xl) {
    padding-top: 110px !important;
  }
}

.pb-50 {
  padding-bottom: 50px;
  @include media-breakpoint-down(lg) {
    padding: 40px;
  }
}
.pb-40 {
  padding-bottom: 40px;
}
.pt-60 {
  padding-top: 60px;
  @include media-breakpoint-down(xl) {
    padding: 40px;
  }
}
.pt-50 {
  padding-top: 80px;
  @include media-breakpoint-down(xl) {
    padding-top: 40px;
  }
}
.pt-80 {
  padding-top: 80px;
  @include media-breakpoint-down(xl) {
    padding-top: 50px;
  }
  @include media-breakpoint-down(lg) {
    padding-top: 40px;
  }
}
.pt-110 {
  padding-top: 110px;
  @include media-breakpoint-down(xl) {
    padding-top: 50px;
  }
  @include media-breakpoint-down(lg) {
    padding-top: 40px;
  }
}
.pb-160 {
  padding-bottom: 160px;
  @include media-breakpoint-down(xl) {
    padding-bottom: 110px;
  }
  @include media-breakpoint-down(xl) {
    padding-bottom: 50px;
  }
  @include media-breakpoint-down(lg) {
    padding-bottom: 40px;
  }
}
.py-110 {
  padding: 110px 15px;
  @include media-breakpoint-down(xxl) {
    padding: 50px 0;
  }
  @include media-breakpoint-down(lg) {
    padding: 40px 0;
  }
}

.mt-120 {
  margin-top: 120px;
  @include media-breakpoint-down(xl) {
    margin-top: 80px;
  }
  @include media-breakpoint-down(xl) {
    margin-top: 50px;
  }
  @include media-breakpoint-down(lg) {
    margin-top: 40px;
  }
}
